
$c_coca: #331F26;
$c_gondola: #27161D;
$c_gold: #ddc239;

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: $c_coca;
    color: $c_gold;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.title {
    font-size: 2rem;
    text-align:center;
    margin:2rem;
}

.ptable {

    margin: auto;

    .group {
        display:flex;
        wrap:nowrap;
    }

    .element {
        width:4.3vw;
        height:3.8vw;
        font-size:2.4vw;
        padding: .1rem;
        border: 2px solid $c_gondola;
        margin:-2px -2px 0 0;
        display:inline-block;
        text-align:center;
    }

    .element.hidden {
        visibility:hidden;
        opacity:0;
        border-color:transparent;
    }
}

.padjust{

    display:flex;

    .padding{
        width:50%;
    }
}
