
$c_coca: #331F26;
$c_gondola: #27161D;
$c_gold: #ddc239;
$c_gray: #4c2f36;
$c_green: #45a372;
$c_red: #F1414b;
$c_txtwhite: #927277;

$fade_time: .28s;

$golden_ratio: 1.618;

/* @import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono'); */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

@mixin background-color-alpha($color, $alpha) {
  background-color: rgba(red($color), green($color), blue($color), $alpha);
}

@mixin font-default() {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@mixin noselect() {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

@keyframes fadein {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes fadeout {
    0% { opacity: 1 }
    100% { opacity: 0 }
}


@keyframes shake {
    0%   { transform: translateX(0) }
    25%  { transform: translateX(+6px) }
    50%  { transform: translateX(0) }
    75%  { transform: translateX(-6px) }
    100% { transform: translateX(0) }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-90deg); }
}

body {
    margin: 0;
    padding: 0;
    @include font-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: $c_coca;
    color: $c_gold;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

header {
    background-color: $c_gondola;
    padding: .8rem 2rem;

    box-shadow: 0 1px 6px rgba(0, 0, 0, .34);

    $isize: 1rem;

    display: flex;
    justify-content: space-between;

    .tableoptions {
        .btn {
            border: 2px solid transparent;
            background-color: $c_coca;
            color: $c_txtwhite;
            padding: .1rem .2rem;
            border-radius: 1rem;

            transition: .1s all;

            &:hover {
                border-color: $c_green;
                color: $c_green;
                cursor: pointer;
            }
        }
    }

    section {
        width: 34%;
        display: flex;
    }

    .right {
        justify-content: right;
    }

    .center {
        text-align: center;
        justify-content: center;
        flex-shrink: 0;
    }

    .user {
        float: right;
        position: relative;
        background-color: $c_coca;
        padding: .1rem .5rem;
        padding-left: $isize + .6rem;
        border-radius: 1rem;
        margin-left: 1rem;
        border: 2px solid transparent;
        transition: .1s all;
        cursor: pointer;

        &:hover {
            border-color: $c_green;
        }

        &::after {
            content: '';
            position: absolute;
            $off: .24rem;
            left: $off;
            top: $off;
            width: $isize;
            height: $isize;
            background-color:$c_green;
            box-shadow: inset 0 0 0px 2px rgba(255, 255, 255, .2);
            border-radius: 1rem;
        }
    }

    .usercontrolls {
        opacity: 1;
        position: absolute;
        right: 0;
        width: 8rem;
        @include noselect;
        margin-top: 2.1rem;

        background-color: $c_gondola;
        padding: .4rem 0;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .2);

        div {
            display: block;
            padding: 0 .6rem;
        }

        div:hover {
            cursor: pointer;
            background-color: $c_coca;
        }
    }
}

input {
    padding: .2rem .6rem;
    animation: fadein .3s;
    background: $c_gondola;
    border-radius: .3rem;
    color: $c_gold;

    border: 2px solid transparent;
    transition: .13s all;
}

input:hover{
    border-color: $c_green;
}

input[readonly] {

    background: transparent;
    border-color: $c_gondola;
}

.checkbox {
    background-color: $c_gondola;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: .3rem;
    border: 2px solid $c_gondola;

    font-size: 1rem;
    i {
        margin-left: .1rem;
        opacity: 0;
    }
}

.checkbox:hover {
    border-color: $c_green;
    cursor: pointer;
}

.checkbox.checked i {
    opacity: 1;
}

.dashapp{
    min-height: 100%;
}

.bottom{
    position: absolute;
    bottom:0;
    width:100%;
}

.button {
    display: inline-block;
    font-size: 1.2rem;
    padding: .2rem .4rem;
    border: 2px solid transparent;
    border-radius: .4rem;
    transition: .14s all;
    color: $c_txtwhite;
    background-color: $c_gondola;
}

.button.disabled {
    color: $c_gray;
}

.button.hidden {
    opacity: 0;
    pointer-events: none;
}

.button:hover {
    border-color: $c_green;
    color: $c_green;
    cursor: pointer;
}

.button.delete:hover {
    border-color: $c_red;
    color: $c_red;
}

.content {
    transition: $fade_time filter;
}

.ptabapp {
    margin-top: 4rem;
}

.blur {
    filter:blur(4px);
}

.fadeout {
    animation: fadeout $fade_time;
}

.title {
    font-size: 2rem;
    text-align:center;
    margin:2rem;
}

a {
    color: $c_green;
    outline:none;
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
}

a:hover {
    background-color: $c_green;
    color: $c_gondola;
}

.redirbar {
    display: flex;
    justify-content: space-between;
}

.dropdown{
    position: absolute;
    z-index: 700;
    background-color:$c_gondola;
    padding: .8rem 0;
    border-radius: .2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    max-width:16rem;
    @include noselect;

    .field {
        padding: 0 1rem;
    }

    .field:hover {
        cursor:pointer;
        background-color: $c_coca;
    }
}

.dashboard {
    width: 70%;
    padding: 0 15%;

    .tablesection {
    }

    .table {
        position: relative;
        padding: .5rem 1rem;
        padding-bottom: 1rem;
        border: 1px solid $c_gondola;
        border-bottom:none;
        transition: .06s all;

        color: $c_gold;

        .name {
            font-size: 1.4rem;
            font-weight: bold;
            padding-bottom: .2rem;
        }

        .options {
            position: absolute;
            right: .8rem;
            top: .6rem;
            color: $c_gondola;
            transform: rotate(-90deg);
            z-index: 2;
        }

        .options:hover::before {
            content: '';
            left: -.31rem;
            top: -.11rem;
            position: absolute;
            width: 1.4rem;
            height: 1.4rem;
            border: .16rem solid $c_green;
            border-radius: 50%;
        }

        .options:hover {
            color: $c_green;
        }
    }

    .table.last {
        padding: .5rem 1rem;
        border-bottom: 1px solid $c_gondola;

        .name {
            color: $c_green;
            font-weight: normal;
            @include noselect;
        }
    }

    .table:hover {
        background-color: $c_gray;
        cursor: pointer;
    }
}

.login {

    min-width: 380px;
    font-size: 1.4rem;

    .field {

        margin-top: 2.4rem;
        position: relative;

        input {
            font-size: 1.4rem;
            float: right;
        }
    }

    .field.error {
        animation: shake .24s;
    }

    .field.error::after {
        content: '*';
        position: absolute;
        right: .4rem;
        color: $c_red;
    }

    a {
        font-size: 1.2rem;
        width:100%;
    }
}

.ptable {

    margin: auto;
    font-family: 'Josefin Sans', sans-serif;

    table-layout: fixed;

    .group {
        display:flex;
    }

    $border: 2px;

    $elmh: 3.8vw;
    $elmp: .1vw;
    $spegpad: 2.8vw;
    $trans: .16s;

    th, td {
        border: $border solid $c_gondola;
        border-spacing: 0;
    }

    .spacing {
        height: calc(#{$spegpad} - 4px);
    }

    .element {
        animation: fadein $fade_time * .3;
        width: 4.3vw;
        padding: $elmp;
        background-color:$c_coca;
        margin: (-$border) (-$border) 0 0;
        display: inline-block;
        transition: $trans transform;
        position: relative;

        @include noselect;

        .symbol {
            display: block;
            font-size: 1.6vw;
            margin-top: 1.3vw;
            margin-bottom: .85vw;
            text-align: center;
        }

        .anum {
            position: absolute;
            left: .2vw;
            top: .2vw;
            font-size: 1vw;
            color: $c_gray;
            transition: $trans all;
        }

        .mass {
            opacity: 0;
            width: calc(100% - .2vw);
            position: absolute;
            bottom: 0;
            font-size: 1vw;
            color: $c_coca;
            text-align: center;
            transition: $trans all;
            z-index: 2;

            span {
                background-color: $c_coca;
                padding: 0 .3vw;
            }
        }

        &:not(.slidedown) {

            &:hover {
                z-index: 4;
                cursor: none;
                border-radius: 3px/3px;
                transform: scale(1.2);
                border-color: $c_gold;

                .symbol {
                    transform: scale(1.2);
                }

                .mass {
                    opacity: 1;
                    color: $c_gold;
                    bottom: calc(-2px - .5vw);
                }

                .anum {
                    left: -.3vw;
                    top: -.3vw;
                    background-color: $c_coca;
                    color: $c_gold;
                    padding-right: .24vw;
                }
            }

            &.undef:hover{
                color: $c_green;
                border-color: $c_green;

                &::after{
                    @include font-default;
                    content: '+';
                    position: absolute;
                    top: -.8rem;
                    right: -.8rem;
                    background-color: $c_coca;
                    border: 2px solid $c_green;

                    height:1rem;
                    width:1rem;
                    font-size:1.909rem;
                    line-height: .55rem;
                    border-radius: 50%;
                    padding:.2rem;
                    padding-right: .35rem;
                    padding-left:.05rem;
                }
            }
        }

        &.slidedown {
            position: relative;
            font-size: 1vw;
            background-color: transparent;
            pointer-events: none;

            .symbol {
                font-size: 1.1vw;
            }

            &::before{
                position: absolute;
                content: '';
                z-index: -1;
                top: 0;
                left: -$border;
                right: -$border;
                background-color: $c_gondola;
                border: 1px solid $c_gondola;
                border-top-width: $border * 2;
                border-bottom-width: $border;

                // 2.8vw is spegpad
                height: calc(300% + 2.8vw);
                border-bottom-left-radius: .6vw;
            }
        }

        &.undef {
            color: $c_gray;
        }
    }

    .element.click {
        background-color: $c_gondola;
    }

    .element.hidden {
        visibility: hidden;
        opacity: 0;
        border-color: transparent;
    }
}

.ptable.show.mass{

    .symbol {
        margin-bottom: 1.3vw;
    }

    .mass {
        opacity: .74;
        color:  $c_txtwhite;
        bottom: .1vw !important;
    }
}

.padjust {

    display:flex;

    .padding {
        width:50%;
    }
}

.inspector {

    animation:fadein $fade_time;
    z-index:6;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    @include background-color-alpha($c_gondola, .8);

    display: flex;
    align-items: center;

    .padjust {
        margin: auto auto;
    }

    .data-input {
        display:flex;
        flex-direction: row;
        font-size:1.4rem;
        margin-top:2.1rem;

        form, ul{
            margin:0;
            width: 50%;
        }

        ul {
            padding-left: 0;
            list-style: none;
            text-align: center;
        }

        li {
            margin-top: 1px;
        }

        input, li {
            padding: .2rem .6rem;
            margin-bottom: .2rem;
            font-size:1.4rem;
        }

        input {
            display: block;
            width:calc(100% - 1.4rem);
        }
    }

    .datalist {
        display:inline-block;
        margin: 2rem 0rem;
        width:calc(100% - 4rem);
        cursor: text;
    }

    .card {

        $w: 40rem;
        $h: $w / $golden_ratio;
        $pad: .8rem;

        padding: $pad;
        background-color: $c_coca;
        width: $w;
        height: $h;
        box-shadow: 0 2px 12px rgba(0,0,0,.3);
        border-radius: 6px;

        position:relative;

        .bottom-bar {

            position: absolute;

            bottom: $pad;
            right: $pad;
            left: $pad;

            padding-top: .8rem;

            .button {
                @include noselect;
                float: right;
                margin-left: $pad;
            }
        }

        .element {
            display:inline-block;
            margin: 3rem 4rem;
            font-size: $w * .08;
        }

        .button-x {
            top: $pad;
            right: $pad;
        }
    }
}

$btx_pad: .1rem;

.button-x {
    height: calc(1rem + 1px);
    width: calc(1rem + 1px);
    background-color: transparent;
    padding: $btx_pad;
    position: absolute;
    border-radius: 5px;
    border: 2px solid $c_gondola;
    transition: .1s all;
}

.button-x:hover {
    background-color: $c_gold;
    color: $c_gondola;
    cursor: pointer;
    animation: spin .18s ease-in-out;
}

.button-x:after {
    content: '+';
    position: absolute;
    transform: rotate(-45deg);
    font-size: 2rem;
    padding: $btx_pad * 1.6;

    bottom: -54%;
    left: -31%;
}
