
$c_coca:     #331F26 !default;
$c_gondola:  #27161D !default;
$c_gold:     #ddc239 !default;
$c_gray:     #4c2f36 !default;
$c_green:    #45a372 !default;
$c_red:      #F1414b !default;
$c_txtwhite: #927a7e !default;
$tcolors: #F2615A #FAAD59 #F0ED58 #7FC973 #79D1DC #7984C0 #8A80BB #B47EB5 #E972B2 #D281B8 #9DA5B4;

$fade_time: .28s;

$golden_ratio: 1.618;

/* @import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono'); */
@import url('https://fonts.googleazpis.com/css?family=Josefin+Sans');

@mixin background-color-alpha($color, $alpha) {
  background-color: rgba(red($color), green($color), blue($color), $alpha);
}

@mixin font-default() {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@mixin noselect() {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

@keyframes fadein {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes fadeout {
    0% { opacity: 1 }
    100% { opacity: 0 }
}


@keyframes shake {
    0%   { transform: translateX(0) }
    25%  { transform: translateX(+6px) }
    50%  { transform: translateX(0) }
    75%  { transform: translateX(-6px) }
    100% { transform: translateX(0) }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-90deg); }
}

body {
    margin: 0;
    padding: 0;
    @include font-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: $c_coca;
    color: $c_gold;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

header {
    background-color: $c_gondola;
    padding: .8rem 2rem;

    box-shadow: 0 1px 6px rgba(0, 0, 0, .34);

    $isize: 1rem;

    height: 1.4rem;

    display: flex;
    justify-content: space-between;

    .tableoptions {
        position: relative;

        .dropdown {
            margin-top: .3rem;
            left: 50%;
            transform: translateX(-50%);
        }

        .btn {
            border: 2px solid transparent;
            background-color: $c_coca;
            color: $c_txtwhite;
            padding: .1rem .2rem;
            border-radius: 1rem;

            transition: .1s all;

            &:hover {
                border-color: $c_green;
                color: $c_green;
                cursor: pointer;
            }
        }
    }

    section {
        width: 34%;
        display: flex;
    }

    .right {
        justify-content: right;
        justify-content: flex-end;
        margin-top: -.2rem;
    }

    .center {
        text-align: center;
        justify-content: center;
        flex-shrink: 0;
    }

    .user {
        height: 1.3rem;
        float: right;
        position: relative;
        background-color: $c_coca;
        padding: .1rem .5rem;
        padding-left: $isize + .6rem;
        border-radius: 1rem;
        margin-left: 1rem;
        border: 2px solid transparent;
        transition: .1s all;
        cursor: pointer;

        &:hover {
            border-color: $c_green;
        }

        &::after {
            content: '';
            position: absolute;
            $off: .3rem;
            left: $off;
            top: $off;
            width: $isize;
            height: $isize;
            background-color:$c_green;
            box-shadow: inset 0 0 0px 2px rgba(255, 255, 255, .2);
            border-radius: 1rem;
        }
    }

    .usercontrolls {
        opacity: 1;
        right: 0;
        transform: none;
        margin-top: 2.1rem;
    }
}

input {
    display: inline;
    padding: .2rem .6rem;
    animation: fadein .3s;
    background: $c_gondola;
    border-radius: .3rem;
    color: $c_gold;

    border: 2px solid transparent;
    transition: .13s all;
}

input:hover{
    border-color: $c_green;
}

input[readonly] {

    background: transparent;
    border-color: $c_gondola;
}

.checkbox {
    background-color: $c_gondola;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: .3rem;
    border: 2px solid $c_gondola;

    font-size: 1rem;
    i {
        margin-left: .1rem;
        opacity: 0;
    }
}

.checkbox:hover {
    border-color: $c_green;
    cursor: pointer;
}

.checkbox.checked i {
    opacity: 1;
}

.dashapp{
    min-height: 100%;
}

.bottom{
    position: absolute;
    bottom:0;
    width:100%;
}

.button {
    display: inline-block;
    font-size: 1.2rem;
    padding: .2rem .4rem;
    border: 2px solid transparent;
    border-radius: .4rem;
    transition: .14s all;
    color: $c_txtwhite;
    background-color: $c_gondola;
}

.button.disabled {
    color: $c_gray;
}

.button.hidden {
    opacity: 0;
    pointer-events: none;
}

.button:hover {
    border-color: $c_green;
    color: $c_green;
    cursor: pointer;
}

.button.delete:hover {
    border-color: $c_red;
    color: $c_red;
}

.content {
    transition: $fade_time filter;
}

.ptabapp {
    margin-top: 4rem;
}

.blur {
    filter:blur(4px);
}

.fadeout {
    animation: fadeout $fade_time;
}

.title {
    font-size: 2rem;
    text-align:center;
    margin:2rem;
}

a {
    color: $c_green;
    outline: none;
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
}

a:hover {
    background-color: $c_green;
    color: $c_gondola;
}

.redirbar {
    display: flex;
    justify-content: space-between;
}

.colorpreview {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    float: right;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    transform: rotate(-45deg);

    background-color: #000000;
    border: 2px solid #000000;

    .main, .secondary {
        width: 100%;
        height: 50%;
    }
}

.welcome {
    color: $c_txtwhite;
}

.dropdown {
    position: absolute;
    z-index: 700;
    background-color: $c_gondola;
    padding: .8rem 0;
    margin:0;
    border-radius: .2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    width: 13rem;
    @include noselect;
    list-style-type: none;

    &.choose {
        padding-left: 1rem;
    }

    a, a:hover {
        color: $c_gold;
    }

    li, .field {
        padding: .14rem 1rem;

        &:hover {
            cursor: pointer;
            background-color: $c_coca;
        }

        &.selected {
            position: relative;
        }

        &.selected::after {
            content: '\f00c';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;

            font-size: .6rem;

            border: 2px solid $c_green;
            border-radius: 1rem;
            padding: 2px;

            position:absolute;
            left: -.5rem;
            top: .3rem;

            color: $c_green;
        }
    }
}

.dashboard {
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid $c_gondola;

    .table {
        position: relative;
        padding: .5rem 1rem;
        padding-bottom: 1rem;
        border: 1px solid $c_gondola;
        border-bottom: none;
        transition: .06s all;

        color: $c_gold;

        .name {
            display: inline-block;
            font-size: 1.4rem;
            font-weight: bold;
            padding-bottom: .2rem;
        }

        .author {
            font-size: 1.4rem;
            display: inline-block;
            color: $c_txtwhite;
            margin-left: 1rem;
        }

        .note {
            color: $c_txtwhite;
        }

        .options {
            position: absolute;
            right: .8rem;
            top: .6rem;
            color: $c_gondola;
            transform: rotate(-90deg);
            z-index: 2;
        }

        .options:hover::before {
            content: '';
            left: -.31rem;
            top: -.11rem;
            position: absolute;
            width: 1.4rem;
            height: 1.4rem;
            border: .16rem solid $c_green;
            border-radius: 50%;
        }

        .options:hover {
            color: $c_green;
        }
    }

    .table.last {
        padding: .5rem 1rem;

        .name {
            color: $c_green;
            font-weight: normal;
            @include noselect;
        }
    }

    .table:hover {
        background-color: $c_gray;
        cursor: pointer;
    }
}

.warning {
    border: 2px solid $c_gondola;
    color: $c_txtwhite;
    font-size: 1.1rem;
    padding: .6rem;
    padding-top: .34rem;
    border-radius: .4rem;
}

.login {

    min-width: 380px;
    font-size: 1.4rem;

    .field {

        margin-top: 1.4rem;
        position: relative;
        display:  flex;
        justify-content: space-between;

        input {
            max-width: 14rem;
            float: right;
            font-size: 1.4rem;
            margin-left: 1rem;
        }
    }

    .field.error {
        animation: shake .24s;
    }

    .field.error::after {
        content: '*';
        position: absolute;
        right: .4rem;
        color: $c_red;
    }

    a {
        font-size: 1.2rem;
        width:100%;
    }
}

.ptable {

    position: relative;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;

    table-layout: fixed;

    .group {
        display:flex;
    }

    $border: 2px;

    $elmh: 3.8vw;
    $elmp: .1vw;
    $spegpad: 2.8vw;
    $trans: .16s;

    th, td {
        border: $border solid $c_gondola;
        border-spacing: 0;
    }

    .spacing {
        height: $spegpad;
    }

    .slidedown {
        margin: (-$border) (-$border) 0 0;
        font-size: 1vw;
        background-color: transparent;
        pointer-events: none;
        width: 4.3vw;
        padding: $elmp;
        border-color: transparent;

        .symbol {
            font-size: 1.2vw;
            color: $c_gray;
            margin-top: 1.45vw;
            text-align: center;
        }

        &::before{
            position: absolute;
            content: '';
            z-index: -1;
            width: 4.3vw;
            padding-left: $elmp;
            padding-right: 1px;
            background-color: $c_coca;
            transform: translateX(calc(#{-$border} - 1px));
            border: $border solid $c_gondola;
            height: 56%;
            bottom: 2px;
            border-bottom-left-radius: .6vw;
        }
    }

    &.show.mass .symbol, &.show.elneg .symbol {
        margin-bottom: 1.3vw;
    }

    &.show.mass.elneg {
        .symbol {
            margin-bottom: 1.3vw;
        }

        .mass, .elneg {
            bottom: .1vw !important;
            font-size: .86vw;
        }

        .mass, .element:hover .mass {
            left: 0;
            color: $c_txtwhite;
            text-align: left;
            opacity: .74;

            span {
                background-color: transparent;
            }
        }

        .elneg {
            opacity: .74;
            right: 0;
            color: $c_red;
            text-align: right;
        }
    }

    &.show.elneg:not(.mass) {

        .elneg {
            opacity: .74;
            color:  $c_red;
            bottom: 0;
        }

        .element:hover {
            .mass {
                opacity: 0;
                color:  $c_txtwhite;
                bottom: 0;
            }
        }
    }

    &.show.mass:not(.elneg) .mass {
        opacity: .74;
        color:  $c_txtwhite;
        bottom: 0;
    }

    @for $i from 1 through 11 {
        &.show.tcolors .element.type-#{$i} {
            color: nth($tcolors, $i)
        }
    }

    .element {
        animation: fadein $fade_time * .3;
        width: 4.3vw;
        padding: $elmp;
        background-color:$c_coca;
        margin: (-$border) (-$border) 0 0;
        display: inline-block;
        transition: $trans transform;
        position: relative;
        @include noselect;

        &.hidden {
            visibility: hidden;
            opacity: 0;
            border-color: transparent;
        }

        .symbol {
            display: block;
            font-size: 1.6vw;
            margin-top: 1.3vw;
            margin-bottom: .85vw;
            transition: $trans margin;
            text-align: center;
        }

        .anum {
            position: absolute;
            left: .2vw;
            top: .2vw;
            font-size: 1vw;
            color: $c_gray;
            transition: $trans all;
        }

        .mass, .elneg {
            opacity: 0;
            width: calc(100% - .2vw);
            position: absolute;
            bottom: 0;
            font-size: 1vw;
            color: $c_coca;
            text-align: center;
            transition: $trans all;
            z-index: 2;

            span {
                padding: 0 .3vw;
            }
        }

        &:not(.slidedown) {

            &:hover {
                z-index: 4;
                cursor: pointer;
                border-radius: 3px/3px;
                transform: scale(1.2);
                border-color: $c_gold;

                .symbol {
                    transform: scale(1.2);
                }

                .mass {
                    opacity: 1;
                    color: $c_gold;
                    bottom: calc(-2px - .5vw);

                    span {
                        background-color: $c_coca;
                    }
                }

                .anum {
                    left: -.3vw;
                    top: -.3vw;
                    background-color: $c_coca;
                    color: $c_gold;
                    padding-right: .24vw;
                }
            }

            &.undef:hover {
                color: $c_green;
                border-color: $c_green;

                &::after {
                    @include font-default;
                    content: '+';
                    position: absolute;
                    top: -.8rem;
                    right: -.8rem;
                    background-color: $c_coca;
                    border: 2px solid $c_green;

                    height:1rem;
                    width:1rem;
                    font-size:1.909rem;
                    line-height: .55rem;
                    border-radius: 50%;
                    padding:.2rem;
                    padding-right: .35rem;
                    padding-left:.05rem;
                }
            }
        }

        &.undef {
            color: $c_gray;
        }
    }

    &.read-only .element:not(.slidedown).undef:hover {
        color: $c_txtwhite;
        border-color: $c_txtwhite;

        &::after {
            display: none;
            opacity: 0;
        }
    }
}

.padjust {

    display:flex;

    .padding {
        width:50%;
    }
}

.inspector {

    animation:fadein $fade_time;
    z-index:6;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    @include background-color-alpha($c_gondola, .8);

    display: flex;
    align-items: center;

    .padjust {
        margin: auto auto;
    }

    .data-input {
        display:flex;
        flex-direction: row;
        font-size:1.4rem;
        margin-top:2.1rem;

        form, ul{
            margin:0;
            width: 50%;
        }

        ul {
            padding-left: 0;
            list-style: none;
            text-align: center;
        }

        li {
            margin-top: 1px;
        }

        input, li {
            padding: .2rem .6rem;
            margin-bottom: .2rem;
            font-size:1.4rem;
        }

        input {
            display: block;
            width:calc(100% - 1.4rem);
        }
    }

    .datalist {
        display:inline-block;
        margin: 2rem 0rem;
        width:calc(100% - 4rem);
        cursor: text;
    }

    .card {

        $w: 40rem;
        $h: $w / $golden_ratio;
        $pad: .8rem;

        padding: $pad;
        background-color: $c_coca;
        width: $w;
        height: $h;
        box-shadow: 0 2px 12px rgba(0,0,0,.3);
        border-radius: 6px;

        position:relative;

        .bottom-bar {

            position: absolute;

            bottom: $pad;
            right: $pad;
            left: $pad;

            padding-top: .8rem;

            .button {
                @include noselect;
                float: right;
                margin-left: $pad;
            }
        }

        .element {
            display:inline-block;
            margin: 3rem 4rem;
            font-size: $w * .08;
        }

        .button-x {
            top: $pad;
            right: $pad;
        }
    }
}

$btx_pad: .1rem;

.button-x {
    height: calc(1rem + 1px);
    width: calc(1rem + 1px);
    background-color: transparent;
    padding: $btx_pad;
    position: absolute;
    border-radius: 5px;
    border: 2px solid $c_gondola;
    transition: .1s all;
}

.button-x:hover {
    background-color: $c_gold;
    color: $c_gondola;
    cursor: pointer;
    animation: spin .18s ease-in-out;
}

.button-x:after {
    content: '+';
    position: absolute;
    transform: rotate(-45deg);
    font-size: 2rem;
    padding: $btx_pad * 1.6;

    bottom: -54%;
    left: -31%;
}

.table-error {
    width: 80%;
    margin: 3rem auto;
    font-size: 1.2rem;
    color: $c_gold;

    .ohno {
        margin-bottom: 1rem;
        font-size: 3rem;
        font-weight: bold;
    }
}
