
$c_coca: #ffffff;
$c_gondola: #e6e8ea;
$c_gold: #4a5266;
$c_gray: #ccd5e1;
$c_green: #45a372;
$c_red: #F1414b;
$c_txtwhite: #9aa2b6;

$c_white: #ffffff;

@import 'global.scss';

body {
    background-color: #fafbfd;
}
